;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together to create
;; the final set of keys. You can modify these diffs to either add or
;; subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

[

 ;; To subtract a binding, prefix the key with '-'  e.g.
 ;;  [:app "-ctrl-shift-d" :docs.search.show]

 ;; Bindings that react for all parts of lighttable
 [:app "-pmeta-o" :navigate-workspace-transient]
 [:app "ctrl-o" :navigate-workspace-transient]
 [:app "ctrl-w" :workspace.show]
 [:app "ctrl-c" :toggle-console]
 [:app "ctrl-b" :add-browser-tab :browser.url-bar.focus]
 [:app "ctrl-s" :gitlight-status-toggle]
 [:app "cmd-ctrl-f" :window.fullscreen]

 ;; Bindings that react when editor has focus
 [:editor.keys.normal "ctrl-k" :auto-complete]
 [:filter-list.input "ctrl-n" (:filter-list.input.move-selection 1)]
 [:filter-list.input "ctrl-p" (:filter-list.input.move-selection -1)]
 [:editor "left" :tabs.prev]
 [:editor "right" :tabs.next]
 [:editor "ctrl-h" :tabset.prev]
 [:editor "ctrl-l" :tabset.next]
 [:editor "alt-w" :editor.watch.watch-selection]
 [:editor "alt-shift-w" :editor.watch.unwatch]

]
